<section id="about" class="about-section">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <h2 class="section-title">About Me</h2>
        <p class="about-description">
          I’am a <b>software engineering student</b> specializing in Applied Computer Science for Multimedia at<b>
            ISAMM</b>.<br>
          I’m driven by a deep curiosity for <b>innovative technologies</b>, especially AI, web and Game development.

        </p>
      </div>
      <div class="about-image">
        <div class="image-container">
          <img src="about.png" alt="Profile" class="profile-img">
        </div>
      </div>
    </div>
  </div>
</section>